#radioBtn .notActive {
    color: #3276b1;
    background-color: #fff !important;
    font-weight: 300;
}

#radioBtn .active {
    font-weight: 700;
}

#radioBtn {
    min-width: 285px;
}


/*
.toolbar-radioButton-a {
    background-color: gray;
}
*/

.toolbar-radioButton {
    margin: 10px 0;
    float: left;
    clear: both;
}

.toolbar-radioButton-a {
    min-width: 285px;
    text-align: left;
}